{% load static%}
<!Doctype html>

<html>
    <head>
        <title>Ecoponto Sertãozinho</title>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">

    </head>

<body>

    <div id="principal">

        <img src="{% static 'images/ecop.png'%}"/>

            <div id="menu">

                    <a href="/"> HOME </a>
            
                    <a href="/locais"> ENDEREÇOS </a>

                    <a href="/localizacao"> LOCALIZAÇÃO </a>
                
                    <a href="/saibamais"> SAIBA MAIS </a>
                                        
                
            </div>


            <div id="conteudo">
                <h1>Você sabe como funcionam os Ecopontos?</h1><br>



                    <p> Os Ecopontos são locais de entrega voluntária para coletar itens que não são mais utilizados por nós.</p>
                        
                    <p> Não necessariamente materiais recicláveis.</p>
                        
                    <p> Você provavelmente já viu algum sofá velho ou televisão antiga abandonados nas calçadas pela cidade ou até entulho gerado por construções,<br>
                        demolições e pequenas reformas em prédios ou residências, que são jogados de maneira ilegal em avenidas, ruas e praças.</p>
                        
                    <p> Esse tipo de descarte irregular gera sérios problemas ambientais.</p>
                        
                    <p> Bem, os Ecopontos foram criados exatamente com o objetivo de dar fim ao despejo desses tipos de itens em vias públicas, rios e terrenos baldios,<br>
                            que ocasiona desde problemas de saúde a enchentes, além de aumentar os gastos com a limpeza pública.</p>
                    <p> Os materiais que podem ser levados ao local são: Massa verde (proveniente de poda); resíduos volumosos como sofás, camas, armários, eletroeletrônicos e eletrodomésticos;<br> 
                            recicláveis como papel, plástico, papelão, vidro, metal, alumínio; resíduos da construção civil e objetos de madeira, pneus.</p> <br><br>



                            <a href="/saibamais" class="button">Saiba Mais</a>
            </div>

            
        

    </div>

    
       
</body>
    
</html>
