{% load static%}
<!Doctype html>

<html>
    <head>
        <title>Ecoponto Sertãozinho</title>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">



    </head>

<body>

    <div id="principal">

        <img src="{% static 'images/ecop.png'%}"/>

            <div id="menu">
            
                
                    <a href="/"> HOME </a>

                    <a href="/locais"> ENDEREÇOS </a>

                    <a href="/localizacao"> LOCALIZAÇÃO </a>

                    <a href="/saibamais"> SAIBA MAIS </a>
                                        
                
            </div>


            <div id="conteudomapa">

                 <img width="500px" src="{% static 'images/localizacao.png'%}" />
            </div>

            <div id="botao">                <a href="https://www.openstreetmap.org/#map=14/-21.1334/-48.0133&layers=N" class="button">Localizador</a>
            </div>







            
        

    </div>

    
       
</body>
    
</html>
