{% load static%}
<!Doctype html>

<html>
    <head>
        <title>Ecoponto Sertãozinho</title>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">

    </head>

<body>

    <div id="principal">

        <img src="{% static 'images/ecop.png'%}"/>

            <div id="menu">
            
                
                    <a href="/"> HOME </a>

                    <a href="/locais"> ENDEREÇOS </a>

                    <a href="/localizacao"> LOCALIZAÇÃO </a>

                    <a href="/saibamais"> SAIBA MAIS </a>
                                        
                
            </div>


            <div id="conteudo">
                <h1>O que é lixo urbano?</h1><br>


                <p>Também conhecido como resíduo sólido urbano, são objetos ou materiais que não têm mais uma função útil em residências ou indústrias e são descartados.</p>

                <p>O aumento populacional nas cidades, aliado a uma sociedade extremamente consumista, tem ligação direta a alta produção de resíduos descartados, que em sua maior parte tem como destino final lixões e incineradores , que contaminam as águas e solos, além de produzir gás metano (CH4) que contribui consideravelmente com o efeito estufa.</p>

                <p>Os lixos são classificados como:<br><br>
                -Lixo orgânico: Sobras de comida, cascas de frutas e etc.<br>
                -Papel: papelão, jornais, revistas etc.<br>
                -Plástico: garrafas pet, borrachas, sacolas plásticas entre outros.<br>
                -Metais: fios, chaves, latas, panelas entre outros.<br>
                -Outros: tecidos, óleos em geral, resíduos informáticos, madeiras.<br>
                -Lixos tóxicos: medicamentos, baterias, lixo radioativo, lâmpadas fluorescentes entre outros.<br><br>
                Pela alta taxa de contaminação afetando o meio ambiente e gerando doenças, os lixos tóxicos devem ser descartados em lugares específicos, dependendo de como ele afeta o meio ambiente o local de descarte varia.<br>
                    O Governo Federal pede à população que procure por postos de coleta seletiva para o descarte.
                </p>

                <h1>Descarte de forma correta</h1>



                <p>A adoção de contentores por empresas de lixo urbano veio para facilitar tanto a vida da população quanto a coleta seletiva, pois como são grandes, têm altíssima capacidade para comportar resíduos.<br>
                    Além disso, evita que insetos e animais de rua entrem em contato com essas sacolas, sujando o ambiente e trazendo patologias.</p><br>

                <p>Os contentores costumam ficar em dois locais:<br><br>

                -<b>Pontos de entrega voluntária (PEV):</b>  são locais determinados pela prefeitura para receber resíduos recicláveis da população.<br>
                    Os contentores são específicos para coleta seletiva;<br><br>
                    -<b>Ecopontos:</b> são semelhantes aos PEV, mas permitem que a população leve rejeitos diferentes, como materiais de construção, troncos de árvores, como poda e eletrônicos. <br>

                Estes detritos podem ser reaproveitados para formação de matéria prima de outros componentes, sendo assim reciclados diminuindo o impacto ambiental.<br>
                    Em 2014 entrou em vigor a Política Nacional de Resíduos Sólidos (Lei nº 12.305/10) na qual busca reduzir a geração de lixo e aumentar a reciclagem.<br>
                    Em São Paulo apenas 3% de todo o lixo é reciclado, sendo que 30% de todo o lixo pode ser reaproveitado.
                </p>
                <h1>Descarte menos lixo urbano</h1>

                <p>Algumas medidas simples ajudam você a produzir menos resíduos:<br>

                Compre embalagens maiores de produtos e, sempre que possível, use refil;<br>
                Evite produtos descartáveis, principalmente os de plástico;<br>
                Análise se determinado produto é realmente necessário;<br>
                Opte por produtos a granel.
                </p>




            </div>

            
        

    </div>

    
       
</body>
    
</html>
